
.todo__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 30px; /* チェックボックスの幅分オフセットを設定 */
}

/* チェックボックスがチェックされたらタイトルにラインを追加 */
.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: translateY(-50%);
}
